@inject NavigationManager Navigation

<div class="footer">
	<img src="/Logo bez pozadine topshit.png" />
	<div class="footer-menu">
		<div class="footer-menu-container">
			<h5>Site map</h5>
			<a href="/all-day-tours" class="menu-item">All-day Tours</a>
			<a href="/half-day-tours" class="menu-item">Half-day Tours</a>
			<a href="/rent-a-boat" class="menu-item">Rent a Boat</a>
			<a href="/rent-a-scooter" class="menu-item">Rent a Scooter</a>
			<a href="" class="menu-item">Speed Boat Service</a>
		</div>
		<div class="footer-menu-container">
			<h5>Legal</h5>
			<a href="/all-day-tours" class="menu-item">Terms of Condition</a>
			<a href="/half-day-tours" class="menu-item">About us</a>
		</div>
		<div class="footer-menu-container">
			<h5>Contact</h5>
			<a href="mailto:taxiboatbalic@gmail.com" class="contact-item"><img src="Icons/message.gif" />taxiboatbalic@gmail.com</a>
			<a href="tel:+385919700418" class="contact-item"><img src="Icons/phone (1).gif" /> +385919700418</a>
			<a href="tel:+385953922842" class="contact-item"><img src="Icons/phone (2).gif" />+385953922842</a>
			<a href="https://wa.me/+385919700418?" class="whatsapp"><img alt="Chat on WhatsApp" src="images/WhatsAppButtonGreenSmall.png" /></a>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="footer-separator"></div>
		<div>
			<a href="https://www.instagram.com/taxiboatbaltic_sibenik/"><img src="Icons/instagramLogo.png" /></a>
			<a href="https://www.facebook.com/taxiboatbaltic.sibenik/?locale=hr_HR"><img src="Icons/facebookLogo.png" /></a>
		</div>
		<a href="https://www.freepik.com" title="Frrepick">All used icons are designed by FreePick</a>
		<p>
			© 2025 Baltć, obrt za prijevoz putnika brodom<br />
			Put Gvozdenova 339, 22000 Šibenik<br />
			Designed and created by Baltić Network
		</p>
	</div>
</div>
@code {

}
