<div class="notice-box">
    <h3>Important Notice</h3>
    <p>
        By booking a boat, it is assumed that you meet the following requirements:
    </p>
    <ul>
        <li>You have a Boatmaster's license, category B, issued in the Republic of Croatia or the European Union, or an International Boatmaster's license, category B.</li>
        <li>Necessary knowledge and experience to operate a boat.</li>
    </ul>
</div>

@code {

}
