@inject IJSRuntime JS


<div class="map-wrapper">
	<h2 class="map-title">NP Kornati – Usual stops</h2>
	<div id="kornatiMap" class="map"></div>
	<div class="promo">
		<p>
			Kornati National Park is an archipelago with over 140 uninhabited islands.
			It is dominated by one of the largest islands called Kornat, and throughout history, it has been inhabited.
			The biggest attraction is the “crowns”, ie the cliffs that stretch on the western side of the national park.
			Also on the island, there are a lot of beautiful bays where we can “hide” so we can enjoy and explore the area.
			As you can imagine a national park in the middle of the sea means that the sea is crystal clear as it contains a lot of life.
			Although our tour contains lunch packages in the national park itself, you have a dozen restaurants that offer top and fresh specialties of local and foreign cuisine, which we can visit at your request.
			Our trip offers you sightseeing and enjoying the most beautiful and hidden beauties of the National Park.
			<b><u>There are also no hidden costs, meaning everything is included in the price, from the entrance fee to the National Park, to fuel, drinks and food on the boat to the cost of the skipper.</u></b>
			Our boats have a capacity of up to 7 people and there is no mixing with other groups until the boat's capacity is reached.
		</p>
		<div class="cTa">
			<p><b>Price: 600€</b></p>
			<button><img src="/Icons/laptop.gif" /><b>Book here!</b></button>
		</div>
	</div>
</div>

@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JS.InvokeVoidAsync("initKornatiTourMap");
		}
	}
}