@inject IJSRuntime JS
<div class="map-wrapper">
    <h2 class="map-title">Šibenik Archipelago – Usual stops</h2>
    <div id="KrkaMap" class="map"></div>
	<div class="promo">
		<p>
			We have prepared the best possible offer for a trip to the Krka National Park.
			The idea of the trip is that by departing from Šibenik in one of our speedboats we reach the hideouts and then board the boat of the Krka National Park, and visit the entire park.
			In the meantime, my speedboat and I are waiting for you in Skradin, where a boat from the national park will take you back.
			When you return from the national park you can stay and see the town of Skradin, if not, we can go to Pukljan Lake and anchor there in one of the bathing coves because the new rule prohibits swimming at the foot of the Krka waterfalls.
			After swimming, we return through the Krka canyon towards the starting position.
			<b><u>Aditonal coast is enterance tickets for the Ncional park Krka, everything else is included in the price, from fuel and the cost of the skipper.</u></b>
			Our boats have a capacity of up to 7 people and there is no mixing with other groups until the boat's capacity is reached.
		</p>
		<div class="cTa">
			<p><b>Price: 600€</b></p>
			<PopUpButton />
		</div>
	</div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initKrkaTourMap");
        }
    }
}
