@using TaxiBoatBaltic.Components
<style>
    .cta-button {
        padding: 0.75rem;
        border-radius: 1rem;
        background-color: white;
        color: #2c3e50;
        border: 1px solid;
        font-size: 1.3rem;
    }

        .cta-button:hover {
            padding: 0.70rem;
            background-color: #2c3e50;
            color: white;
            font-size: 1.3rem;
        }
</style>
<button class="cta-button" @onclick="ShowPopup">
    Book Here!
</button>
<BookingForm @ref="bookingPopup">
</BookingForm>

@code {
    private BookingForm bookingPopup;

    private void ShowPopup()
    {
        bookingPopup.Show();
    }
}