@inject IJSRuntime JS
<div class="map-wrapper">
    <h2 class="map-title">Riviera Tour – Usual stops</h2>
	<div class ="map" id="RivieraMap"></div>
	<div class="promo">
		<p>
			Riviera Tour is our most popular trip that does not take much, and you see very beautiful places.
			With the pleasure of a speedboat ride, you can see as many as three islands with all their beauties, and everyone will find something for themselves.
			Although the trip is flexible, the idea of the trip is to first visit the island of Zlarin, also known as the coral island, where you can find coral muses and beaches in a small place with a beautiful clear sea.
			The other island is the island of Tijat which is uninhabited and there is only one beach bar which with its summer atmosphere and view of the bay Tijašnica full of anchored boats gives a real summer atmosphere.
			Also, if you are not willing to stay in such a bar, we can always anchor in the same bay and enjoy the beautiful clear sea.
			And the third island is its two small towns and numerous restaurants with fresh food and local cuisine that will satisfy all, but if you are not hungry there are always beaches with the clear sea that all our islands enjoy.
			<b><u>There are also no hidden costs, meaning everything is included in the price, from fuel and the cost of the skipper.</u></b>
			Our boats have a capacity of up to 7 people and there is no mixing with other groups until the boat's capacity is reached.
		</p>
		<div class="cTa">
			<p><b>Price: 250€</b></p>
			<button><img src="/Icons/laptop.gif" /><b>Book here!</b></button>
		</div>
	</div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initRivieraTourMap");
        }
    }
}
