.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-card {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #f0f0f0;
    text-align: center;
}

    .carousel-card img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-top: 10px;
        border-radius: 8px;
    }
