@page "/"

<PageTitle>Home</PageTitle>
<HeroCarousel />
	<div class="content">
		<h1>Speed Boat Taxi Šibenik – Fast & Reliable Sea Transfers</h1>
		<div class="paragph">
			<p>
				Our Speed Boat Taxi service ensures a smooth and comfortable ride across the stunning Dalmatian coast.<br />
				Whether you need a quick transfer to nearby islands, a private boat tour, or a scenic ride along Šibenik’s
				breathtaking waters, we’ve got you covered!
			</p>
			<video id="videoplayer" muted autoplay="true" loop>
				<source src="/Video/20220624_193847.mp4" type="video/mp4" />
			</video>
		</div>
	</div>
	<div class="call-to-action">
			<h2>Book Your Taxi Boat in Šibenik Today!</h2>
		<button>
			Book Here!
		</button>
	</div>
	<div class="content">
		<h2>Why Choose Our Taxi Boat Service?</h2>
		<div class="paragph">
			<video id="videoplayer" muted autoplay="true" loop>
				<source src="/Video/Service_mobile.mp4" type="video/mp4" />
			</video>
			<div class="icons">
				<div class="icon-box">
					<img src="Icons/boat.gif" />
					<p>Fast & Safe Transfers</p>
				</div>
				<div class="icon-box">
					<img src="Icons/military.gif" />
					<p>Experienced Skippers</p>
				</div>
				<div class="icon-box">
					<img src="Icons/destination.gif" />
					<p>Custom Routes</p>
				</div>
				<div class="icon-box">
					<img src="Icons/24-hours.gif" />
					<p>24/7 Availability</p>
				</div>
				<div class="icon-box">
					<img src="Icons/money-loss.gif" />
					<p>Cheapest in area</p>
				</div>
				<div class="icon-box">
					<img src="Icons/speech-bubble.gif" />
					<p>Positive experiences</p>
				</div>
			</div>
		</div>
	</div>


@code {

}
