@page "/terms-of-condition"
<div class="legal-page">
    <h1>Terms & Conditions</h1>
    <p><strong>Last updated:</strong> August 29, 2025</p>
    <p>Welcome to Taxi Boat Baltic! By accessing our website and using our services, you agree to the following Terms & Conditions. Please read them carefully before making a booking.</p>

    <h2>1. General Information</h2>
    <p>
        This website and services are operated by <strong>Taxi Boat Baltic</strong>(“we”, “our services”).
        We offer <strong>taxi boat services</strong>, <strong>private boat tours</strong>, <strong>boat rentals without skipper</strong>, (with valid license), and <strong>scooter rentals</strong>.
        By using our services, you accept these Terms & Conditions.
    </p>

    <h2>2. Bookings & Payments</h2>
    <ul>
        <li><strong>Scooter rentals:</strong> full payment is required at the time of booking via <strong>Stripe</strong>.</li>
        <li><strong>Taxi boat, private tours, and boat rentals:</strong> €20 deposit required at the time of booking via Stripe. The remaining balance is paid <strong>on the day of service</strong>(cash or card, depending on agreement).</li>
        <li>A booking is confirmed only after you receive an email confirmation.</li>
    </ul>

    <h2>3. License Requirements</h2>
    <ul>
        <li>
            <strong>Scooter remtals</strong>  require a valid driving license:
            <ul>
                <li>400cc: Category A</li>
                <li>125cc: Category A1</li>
                <li>50cc: Category AM or B</li>
            </ul>
        </li>
        <li>
            <strong>Boat rentals without skipper</strong> require a valid boat license.
        </li>
        <li>Customers are responsible for the vehicle/boat during the rental and must return it in the same condition and with full tank of petrol</li>
    </ul>
    

    <h2>4. Cancellations & Refunds</h2>
    <p><strong>Scooter rentals</strong>: cancellations at least <strong>24 hours before</strong> the booking date are eligible for a full refund. Later cancellations are non-refundable.</p>
    <p><strong>Taxi boat & private tours</strong>: the €20 deposit is non-refundable, unless the cancellation is made by us (e.g., bad weather, technical issues).</p>
    <p>In case of bad weather, we offer an alternative date or a full refund.</p>

    <h2>5. Liability</h2>
    <p>Taxi Boat Baltic is not responsible for lost or damaged personal belongings during the use of our services.</p>
    <p>Participation in our services is at your own risk.</p>
    <p>We reserve the right to cancel or stop a service for safety reasons (bad weather, technical malfunction, breach of rules).</p>

    <h2>6. Payments</h2>
    <p>All online payments are processed securely via <strong>Stripe</strong></p>
    <p>Stripe handles your payment and card details. We do not store any card information.</p>

    <h2>7. Governing Law</h2>
    <p>TThese Terms & Conditions are governed by the laws of the <strong>Republic of Croatia</strong>.</p>
    <p>Any disputes shall be resolved by the court in <strong>Šibenik</strong>.</p>

    <h2>8. Contact</h2>
    <p>For any questions, please contact us:</p>
    <a href="mailto:taxiboatbalic@gmail.com"><strong>Email</strong>: taxiboatbaltic@gmail.com</a><br />
    <a href="tel:+385919700418"><strong>Phone</strong>: +385 91 9700 418</a>
</div>

@code {

}
